<div class="sidebar position-fixed top-0 bottom-0 start-0 bg-white border-end">
    <div class="d-flex align-items-center p-3">
        <img src="../../../assets/img/jj6kD_l-_400x400.jpg" alt="" class="w-25">
        <p class="ms-2 fs-4">Cofina</p>
    </div>
    <ul class="sidebar-menu p-3 m-0 mb-0">
        <li class="sidebar-menu-item">
            <a href="#" routerLink="/responsable" [routerLinkActive]="'active-link'" [routerLinkActiveOptions]="{exact:true}">
                <i class="bi bi-house sidebar-menu-item-icon"></i>
                Dashboard
            </a>
        </li>
        <li class="sidebar-menu-item">
        <a href="#" routerLink="/responsable/demandes" [routerLinkActive]="'active-link'" [routerLinkActiveOptions]="{exact:true}">
            <i class="bi bi-receipt-cutoff"></i>
            Demandes
        </a>
        </li>
    </ul>
</div>