<div class="bg-white w-100 p-2 rounded shadow d-flex justifycontent-between">
    <div class="col-md-6">
        <p class="text-uppercase fs-5 fw-bold">fiche d'engagement de dépenses</p>
    </div>
    <div class="col-md-6 d-flex justify-content-end ">
        <div class="dropdown">
            <div class="d-flex align-items-center cursor-pointer dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="me-2 d-none d-sm-block">John Doe</span>
                <img class="navbar-profile-image" src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cGVyc29ufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="Image">
            </div>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#" >Profil</a></li>
                <li><a class="dropdown-item" href="#" (click)="logout()">Deconnexion</a></li>
            </ul>
        </div>
    </div>
</div>